.TabSelector {
	position: fixed;
	top: 0;
	left: 0;

	width: calc(100vw - 6px);
	height: 50px;

	background-color: white;
	border-bottom:1px solid lightgray;
}

.TabSelector ul {
	margin: 6px 12px;
	width: calc(100vw - 24px);
}
.TabSelector ul li {
	display: inline;
	padding: 0 4px;
}